<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.mapper.BookMapper">
    <select id="selectAll" resultType="com.huihe.model.Book">
        select * from book;
    </select>
    <select id="selectById" resultType="com.huihe.model.Book">
        select * from book where bid=#{id}
    </select>

    <delete id="deleteById">
        delete from book where bid=#{id}
    </delete>

    <insert id="addBook">
        insert into book values (#{bid}, #{bname}, #{author}, #{category}, #{description});
    </insert>

    <update id="updateById">
        update book set bname=#{bname}, author=#{author},
         category= #{category}, description = #{description}
         where bid=#{bid}
    </update>
</mapper>